.entityInfo {
    padding: 40px 0 10px 20px;
    display: inline-block;
    width: 100%;
}

.entityInfo .leftSection {
    width: 30%;
    float: left;
    max-width: 250px;
}

.entityInfo .leftSection img {
    width: 100%;
}

.entityInfo .rightSection {
    width: 77.5%;
    float: right;
    padding: 5px 10px 5px 40px;
    box-sizing: border-box;
}

.entityInfo .rightSection h2 {
    margin-top: 0;
    font-size: 50px;
}

.entityInfo .rightSection span {
    color: #939393;
    font-size: 20px!important;
    font-weight: 200;

}

