.entityInfo {
    padding: 40px 0 10px 20px;
    display: inline-block;
    width: 100%;
}

.entityInfo .leftSection {
    width: 30%;
    float: left;
    max-width: 250px;
}

.entityInfo .leftSection img {
    width: 100%;
}

.entityInfo .rightSection {
    width: 77.5%;
    float: right;
    padding: 5px 10px 5px 40px;
    box-sizing: border-box;
}

.entityInfo .rightSection h2 {
    margin-top: 0;
    font-size: 50px;
}

.entityInfo .rightSection span {
    color: #939393;
    font-size: 20px!important;
    font-weight: 200;

}

.trackList {
    padding: 0;
}

.trackListRow {
    height: 40px;
    padding: 15px 10px;
    list-style: none;
}

.trackListRow span {
    color: #939393;
    font-weight: 200;
}

.trackListRow:hover {
    background-color: #282828;
}

.trackListRow .trackCount {
    width: 8%;
    float: left;
}

.trackListRow .trackCount img {
    width: 20px;
    visibility: hidden;
    position: absolute;
    cursor: pointer;
}

.trackListRow:hover .trackCount img {
    visibility: visible;
}

.trackListRow .trackCount span {
    visibility: visible;
}

.trackListRow:hover .trackCount span {
    visibility: hidden;
}

.trackListRow .trackInfo {
    width: 75%;
    float: left;
}

.trackListRow .trackInfo span {
    display: block;
}

.trackListRow .trackInfo .trackName {
    color: #ffffff;
    margin-bottom: 7px;
}

.trackListRow .trackOptions {
    width: 5%;
    float: left;
    text-align: right;
}

.trackListRow .trackOptions img {
    width: 15px;
    visibility: hidden;
}

.trackListRow:hover .trackOptions img {
    visibility: visible;
}

.trackListRow .trackDuration {
    width: 12%;
    float: left;
    text-align: right;
}